GOOGLE_CLIENT_ID="REPLACE_WITH_CLIENT_ID"
GOOGLE_CLIENT_SECRET="REPLACE_WITH_CLIENT_SECRET"
GOOGLE_REFRESH_TOKEN="REPLACE_WITH_REFRESH_TOKEN"
ADDON_TOKEN="REPLACE_WITH_LONG_RANDOM_TOKEN"
STREAM_SIGNING_SECRET="REPLACE_WITH_INDEPENDENT_LONG_RANDOM_SECRET"
PUBLIC_BASE_URL="http://localhost:8787"
STREAM_URL_TTL_SECONDS="3600"
DRIVE_FOLDER_ID="REPLACE_WITH_FOLDER_ID"
